.contact-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: solid $color-secondary 2px;
    border-radius: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba($dark-color, 0.8);

    form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        gap: 1.5rem;
    }
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.2rem;

    label {
        font-size: 1.2rem;
    }

    input, textarea, select {
        border-radius: 0.5rem;
        padding: 0.2rem 1rem;
        border: solid rgba($color-secondary, 0.3) 2px;
        resize: vertical;
        
    }
    .input-error {
        border: solid rgba(red, 0.5) 2px;
        background-color: rgba(red, 0.2);
    }
    
}

.form-success-msg {
    position: fixed;
    top: 5%;
    left: 50%;
    display: flex;
    background-color: rgba($color-secondary, 0.8);
    transform: translateX(-50%);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    border: solid $color-primary 2px;
    box-shadow: 0px 0px 15px rgba($color-primary, 1),
                inset 0px 0px 15px rgba($color-primary, 0.5);
    z-index: $z-modal;
    font-size: 1rem;
    opacity: 0;
    animation: fadeInOut 2s forwards;
}


@include respond-to(lg) {
    .contact-form {
        width: 35%;
        padding: 3rem 6rem;

        input, textarea, select {
            padding: 0.5rem 1rem;
        }
    }

    .form-success-msg {
        font-size: 1.2rem;
        padding: 1rem 3rem;
    }
}