.rev-slider-content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .rev-item {
        display: none;
        color: white;
        
        &.active {
            min-height: 330px;
            display: flex;
            justify-content: left;
            flex-direction: column;
            border-radius: 1rem;
            background-color: rgba($color-secondary, 0.8);
            box-shadow: 0px 0px 10px rgba($color-primary, 1),
                        inset 0px 0px 10px rgba($color-primary, 0.5);
            border: solid $color-primary 3px;
            // animation: slideInUpY 1s ease-in-out;
        }  

        p {
            margin: 1rem 1.5rem 1rem;
        }

        
    }

    .user-info {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        font-size: 0.8rem;

        img {
            width: 20%;
            height: auto;
            border-radius: 100%;
            margin: 1rem;
            background-color: white;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
        }
    }

}

.slider-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .indicator {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: rgba($color-secondary, 0.8);
        cursor: pointer;
        border: solid $color-secondary 0px;
        transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;

        &.active {
            transform: scale(1.3);
            border: solid $color-primary 2px;
            box-shadow: 0px 0px 15px rgba($color-primary, 1),
                        inset 0px 0px 15px rgba($color-primary, 0.5);
        }
    }
}

@include respond-to(lg) {
    .rev-slider-content {
        width: 70%;
        .rev-item {
                
            &.active {
                padding: 2rem 3rem;
            } 
            
            p {
                font-size: 1.2rem;
            }
        }
        .user-info {
            img {
                width: 10%;
            }   
        }
    }

    .indicator {
        &:hover{
            transform: scale(1.3);
            border: solid rgba($color-primary, 0.3) 2px;

        }
    }
}