#footer {
    width: 100dvw;
    height: auto;
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 3rem 1rem;
    gap: 2rem;
}

.footer-logo {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
        font-style: italic;
        font-size: 1rem;
    }
}

.footer-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 1rem;
}

@include respond-to(md) {
    .footer-logo {
        width: 50%;
    }
}

@include respond-to(lg) {
    .footer-content {
        flex-direction: row;
        justify-content: center;
        align-self: center;
        padding: 2rem 15rem;
        gap: 0;


    }

    .footer-info {
        width: 50%;
        font-size: 1rem;
        align-self: center;
    }

    .footer-logo {
        width: 40%;    
        img {
            width: 80%;
            height: auto;
        }
        p {
            font-size: 0.95rem;
            flex-wrap: nowrap;
            text-align: center;
        }
    }
}