// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Typography
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Outifit', sans-serif;

// Colors
$color-primary: #2bffb8;
$color-secondary: #006e4a;
$dark-color: #092921;
$light-color: #9c9c9c;
$text-color: #eee;
$bg-color: #fff;

// Z-index
$z-back: -1;
$z-normal: 1;
$z-front: 10;
$z-modal: 100;